#!/bin/bash
#------------------------------------------------------------------------------
# sample config file
#------------------------------------------------------------------------------
## REMOTE
# ssh user
RUSER="johndoe"
# ssh server
RSERVER="ssh.example.com"
# path to luks file
RPATH="/home/johndoe/luks"
# luks container file
LUKS_CONTAINER="johndoe-luks.img"

## LOCAL
# ssh mountpoint
LPATH="/home/johndoe/luks"
# local : opened container mountpoint
LUKS_MOUNTPOINT="/home/johndoe/luks-open"

## RSYNC
# rsync binary path
RSYNC_BIN="/usr/bin/rsync"
# rsync options
# you need to remove -n (dry run) to enable real synchronization
RSYNC_ARGS="-n --delete -avh --progress --bwlimit=128k"

# rsync source
# directories to backup : full path and trailing slash needed!
RSYNC_SOURCE[0]="$HOME/Documents/"
RSYNC_SOURCE[1]="$HOME/Music/"
RSYNC_SOURCE[2]="$HOME/Images/"

# rsync target
# directories in luks container : relative path, no matter the trailing slash.
RSYNC_TARGET[0]="Documents/"
RSYNC_TARGET[3]="Music/"
RSYNC_TARGET[2]="Images/"

#rsync report status target directory : relative path into container
#this will contain one status file per rsync slot
#each file will contains one line per rsync attempt with date, path and status.
RSYNC_TARGET_STATUS="luks_remote"
